/* Styles for header, main, footer, etc. */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #130961ee;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    background-color: #2377d1;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #5fb300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    /* Add more font formats (e.g., .woff, .woff2) if necessary */
    
}

@font-face {
    font-family: 'Jersey 20';
    src: url('/Jersey20-Regular.ttf') format('truetype');
    /* Add more font formats (e.g., .woff, .woff2) if necessary */
}


body {
    font-family: 'Open Sans', sans-serif;
}

.h1 {
    font-family: 'Jersey 20', sans-serif;
}
/* Add more styles as needed */
