/* Styles for header, main, footer, etc. */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #130961ee;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    background-color: #2377d1;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #5fb300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    /* Add more font formats (e.g., .woff, .woff2) if necessary */
    
}

@font-face {
    font-family: 'Jersey 20';
    src: url('/Jersey20-Regular.ttf') format('truetype');
    /* Add more font formats (e.g., .woff, .woff2) if necessary */
}


body {
    font-family: 'Open Sans', sans-serif;
}

.h1 {
    font-family: 'Jersey 20', sans-serif;
}

.favorite-btn {
    padding: 1px 4px; /* Smaller padding */
    font-size: 10px; /* Smaller font size */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 2px; /* Smaller border radius for a subtler effect */
    cursor: pointer;
    margin-left: 5px;
}

.favorite-btn:hover {
    background-color: #5fb300;
}

.carousel {
    position: relative;
    height: 1000px;
    width: 600px;
    max-width: 600px; /* Adjust based on your layout */
    margin: auto;
    overflow: hidden;
}

.carousel-items .carousel-item {
    display: none; /* Hide all items by default */
    width: 100%;
    position: relative;
    height:100%;

}

.carousel-items .carousel-item.active {
    display: block; 
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 8%;
}
    /* Only the active item is shown */

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}

.carousel-control.prev {
    left: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.carousel-control.next {
    right: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

 .carousel-image {
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  h1 {
    text-align: center;
    margin: 3rem 0;
  }